*,
*::before,
*::after {
    box-sizing: border-box;
}

*::selection{
    color: #E3839D;
}

:root {
    --color-white: #f6f6f6;
    --color-grey: #E0E0E0;
    --color-black: #151515;
    --color-hover: #0b0f47;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Funnel Display", sans-serif;
    font-style: normal;
    color: var(--color-black);
    background-color: var(--color-white);
}

h1 {
    font-weight: 300;
}

h2 {
    font-size: 32px;
    font-weight: 200;
}

h3 {
    font-size: 20px;
    font-weight: 300;
}

p {
    font-family: "Red Hat Text", sans-serif;
    font-weight: 200;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-family: "Red Hat Text", sans-serif;
    font-weight: 200;
    padding-block: 8px;
}

a {
    color: var(--color-black);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--color-hover);
}

.menu-text-font {
    font-family: "Funnel Display", sans-serif;
}

button {
    width: 164px;
    height: 54px;
    background-color: var(--color-white);
    color: var(--color-black);
    border: solid 1px var(--color-grey);
    border-radius: 12px;
    transition: all 0.3s ease;
    position: relative;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.arrow {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%) translateX(10px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background: no-repeat center/contain url('data:image/svg+xml;utf8,<svg fill="none" stroke="white" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><polyline points="12 5 19 12 12 19"/></svg>');
}

button:hover {
    background-color: var(--color-hover);
    border-color: var(--color-hover);
    color: var(--color-white);
    width: 200px;
}

button:hover .arrow {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 64px;
    width: 100%;
    backdrop-filter: blur(20px);
    z-index: 99;
    border-block-end: solid 0.8px #bebebe;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.menu-text {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.standard-image {
    width: 100%;
}

.project-image {
    width: 75%;
}

#work {
    padding-top: 64px;
}

.text-highlight {
    color: #7f7f7f;
    margin-top: -18px;
}

.text-space {
    margin-bottom: 20px;
}

.project-title {
    font-size: 54px;
} 

.subtitle-home {
    font-family: "Red Hat Text", sans-serif;
    margin-top: 0px;
    margin-bottom: 24px;
}

@media only screen and (max-width: 600px) {
    main {
        padding-left: 0px;
        padding-top: 60px;
    }

    header {
        padding: 0 20px;
    }

    h1 {
        font-size: 72px;
    }

    p {
        font-size: 16px;
    }

    li {
        font-size: 16px;
    }

    .section-wrapper {
        padding-left: 24px;
        padding-right: 24px;
        align-items: center;
    }

    .button-wrapper {
        padding-left: 24px;
        padding-bottom: 24px;
    }

    .button-wrapper-2 {
        padding-left: 24px;
        margin-top: -24px;
        padding-bottom: 48px;
    }

    .image-wrapper {
        display: flex;
        justify-content: center;  
        align-items: flex-end;
        margin-bottom: -24px;
    }

    .home-image {
        width: 240px;
        height: auto;
        padding-block-start: 24px;
        padding-inline-start: 24px;
    }

    .text-wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .text-space-2 {
        margin-bottom: 20px;
    }

    .extra-padding-bottom-2 {
        padding-bottom: 64px;
    }

    .extra-padding-bottom-3 {
        padding-bottom: 24px;
    }

    .extra-padding-bottom-4 {
        padding-bottom: 24px;
    }

    .extra-padding-bottom-5 {
        padding-bottom: 24px;
    }

    .extra-padding-bottom-6 {
        padding-bottom: 36px;
    }

    .menu-title {
        font-size: 20px;
        font-weight: 400;
    }

    .menu-text {
        gap: 12px;
        padding-top: 3px;
    }

    .project-spacing {
        padding-left: 0px;
        padding-top: 44px;
    }

    .mobile-image {
        display: block;
    }

    .mobile-and-tablet-image {
        display: block;
    }

    .desktop-for-mobile-image {
        display: none;
    }
    
    .desktop-for-mobile-and-table-image {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    main {
        padding-left: 0px;
        padding-top: 60px;
    }

    header {
        padding: 0 20px;
    }

    h1 {
        font-size: 72px;
    }

    p {
        font-size: 16px;
    }

    li {
        font-size: 16px;
    }

    .section-wrapper {
        padding-left: 24px;
        padding-right: 24px;
        align-items: center;
    }

    .button-wrapper {
        padding-left: 24px;
        padding-bottom: 24px;
    }

    .button-wrapper-2 {
        padding-left: 24px;
        margin-top: -24px;
        padding-bottom: 36px;
    }

    .image-wrapper {
        display: flex;
        justify-content: center;  
        align-items: flex-end;
        margin-bottom: -24px;
    }

    .home-image {
        width: 240px;
        height: auto;
        padding-block-start: 24px;
        padding-inline-start: 24px;
    }

    .text-wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .text-space-2 {
        margin-bottom: 20px;
    }

    .extra-padding-bottom-2 {
        padding-bottom: 64px;
    }

    .extra-padding-bottom-3 {
        padding-bottom: 24px;
    }

    .extra-padding-bottom-4 {
        padding-bottom: 24px;
    }

    .extra-padding-bottom-5 {
        padding-bottom: 24px;
    }

    .extra-padding-bottom-6 {
        padding-bottom: 0px;
    }

    .menu-title {
        font-size: 20px;
        font-weight: 400;
    }

    .menu-text {
        gap: 12px;
        padding-top: 3px;
    }

    .project-spacing {
        padding-left: 0px;
        padding-top: 44px;
    }

    .mobile-image {
        display: none;
    }

    .mobile-and-tablet-image {
        display: block;
    }

    .desktop-for-mobile-image {
        display: block;
    }
    
    .desktop-for-mobile-and-table-image {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    main {
        padding-left: 0px;
        padding-top: 144px;
    }

    header {
        padding: 0 20px;
    }

    h1 {
        font-size: 72px;
    }

    p {
        font-size: 16px;
    }

    li {
        font-size: 16px;
    }

    .section-wrapper {
        padding-left: 44px;
        padding-right: 44px;
        align-items: center;
    }

    .grid-section-wrapper {
        display: grid;
        grid-template-columns: 460px 3fr;
        padding-inline: 44px;
        padding-bottom: 44px;
        align-items: center;
    }

    .grid-section-wrapper-2 {
        display: grid;
        grid-template-columns: 488px 2fr;
        padding-inline: 44px;
        padding-bottom: 44px;
        align-items: top;
    }

    .grid-section-wrapper-3 {
        display: grid;
        grid-template-columns: 488px 2fr;
        padding-inline: 44px;
        padding-bottom: 44px;
        align-items: top;
    }

    .button-wrapper {
        display: flex;
        justify-content: flex-end;  
        align-items: flex-end;
        height: 100%;
        padding-bottom: 0px;      
    }

    .button-wrapper-2 {
        display: flex;
        justify-content: flex-end;  
        align-items: flex-end;
        height: 100%;      
        padding-inline: 44px;
        padding-bottom: 54px;
    }

    .image-wrapper {
        display: flex;
        justify-content: center;  
        align-items: flex-end;
        margin-bottom: -24px;
    }

    .home-image {
        width: 260px;
        height: auto;
        padding-block-start: 36px;
        padding-inline-start: 0px;
    }

    .text-wrapper {
        padding-left: 0px;
        padding-right: 24px;
    }
    
    .text-space-2 {
        margin-bottom: 20px;
    }

    .extra-padding-bottom-2 {
        padding-bottom: 64px;
    }

    .extra-padding-bottom-3 {
        padding-bottom: 24px;
    }

    .extra-padding-bottom-4 {
        padding-bottom: 24px;
    }

    .extra-padding-bottom-5 {
        padding-bottom: 24px;
    }

    .menu-title {
        font-size: 20px;
        font-weight: 400;
    }

    .menu-text {
        gap: 12px;
        padding-top: 3px;
    }

    .project-spacing {
        padding-left: 0px;
        padding-top: 44px;
    }

    .mobile-image {
        display: none;
    }

    .mobile-and-tablet-image {
        display: block;
    }

    .desktop-for-mobile-image {
        display: block;
    }
    
    .desktop-for-mobile-and-table-image {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    main {
        padding-left: 48px;
        padding-top: 164px;
    }

    header {
        padding: 0 40px;
    }

    h1 {
        font-size: 104px;
    }

    p {
        font-size: 20px;
    }

    li {
        font-size: 20px;
    }

    .section-wrapper {
        padding-inline: 124px;
        align-items: center;
    }

    .text-wrapper {
        padding-left: 0px;
        padding-right: 24px;
    }

    .text-space-2 {
        margin-bottom: 64px;
    }

    .grid-section-wrapper {
        display: grid;
        grid-template-columns: 460px 3fr;
        padding-inline: 124px;
        padding-bottom: 24px;
        align-items: center;
    }

    .grid-section-wrapper-2 {
        display: grid;
        grid-template-columns: 488px 2fr;
        padding-inline: 124px;
        padding-bottom: 24px;
        align-items: top;
    }

    .grid-section-wrapper-3 {
        display: grid;
        grid-template-columns: 488px 2fr;
        padding-inline: 124px;
        padding-bottom: 24px;
        align-items: top;
    }

    .button-wrapper {
        display: flex;
        justify-content: flex-end;  
        align-items: flex-end;
        height: 100%;      
        padding-bottom: 8px; 
    }

    .button-wrapper-2 {
        display: flex;
        justify-content: flex-end;  
        align-items: flex-end;
        height: 100%;      
        padding-inline: 124px;
        padding-bottom: 54px;
    }

    .image-wrapper {
        display: flex;
        justify-content: center;  
        align-items: flex-start;
        margin-bottom: 0px;
    }

    .extra-padding-bottom-1 {
        padding-bottom: 116px;
    }

    .extra-padding-bottom-2 {
        padding-bottom: 64px;
    }

    .extra-padding-bottom-3 {
        padding-bottom: 24px;
    }

    .extra-padding-bottom-4 {
        padding-bottom: 64px;
    }

    .extra-padding-bottom-5 {
        padding-bottom: 44px;
    }

    .menu-title {
        font-size: 24px;
        font-weight: 400;
    }

    .menu-text {
        gap: 24px;
        padding-top: 1.5px;
    }

    .project-spacing {
        padding-left: 48px;
        padding-top: 94px;
    }

    .home-image {
        width: 480px;
        height: auto;
        padding-block-start: 64px;
        padding-inline-start: 48px;
        padding-inline-end: 124px;
    }

    .mobile-image {
        display: none;
    }

    .mobile-and-tablet-image {
        display: none;
    }

    .desktop-for-mobile-image {
        display: block;
    }
    
    .desktop-for-mobile-and-table-image {
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    main {
        padding-left: 48px;
        padding-top: 164px;
    }

    header {
        padding: 0 40px;
    }

    h1 {
        font-size: 104px;
    }
    
    p {
        font-size: 20px;
    }

    li {
        font-size: 20px;
    }
    
    .section-wrapper {
        padding-inline: 124px;
        align-items: center;
    }

    .text-wrapper {
        padding-left: 0px;
        padding-right: 24px;
    }

    .text-space-2 {
        margin-bottom: 64px;
    }

    .grid-section-wrapper {
        display: grid;
        grid-template-columns: 540px 3fr;
        padding-inline: 124px;
        padding-bottom: 24px;
        align-items: center;
    }

    .grid-section-wrapper-2 {
        display: grid;
        grid-template-columns: 568px 2fr;
        padding-inline: 124px;
        padding-bottom: 24px;
        align-items: top;
    }

    .grid-section-wrapper-3 {
        display: grid;
        grid-template-columns: 568px 2fr;
        padding-inline: 124px;
        padding-bottom: 24px;
        align-items: top;
    }

    .button-wrapper {
        display: flex;
        justify-content: flex-end;  
        align-items: flex-end;
        height: 100%;      
        padding-bottom: 8px; 
    }

    .button-wrapper-2 {
        display: flex;
        justify-content: flex-end;  
        align-items: flex-end;
        height: 100%;      
        padding-inline: 124px;
        padding-bottom: 54px;
    }

    .image-wrapper {
        display: flex;
        justify-content: center;  
        align-items: flex-start;
        margin-bottom: 0px;
    }

    .extra-padding-bottom-1 {
        padding-bottom: 116px;
    }

    .extra-padding-bottom-2 {
        padding-bottom: 64px;
    }

    .extra-padding-bottom-3 {
        padding-bottom: 24px;
    }

    .extra-padding-bottom-4 {
        padding-bottom: 64px;
    }

    .extra-padding-bottom-5 {
        padding-bottom: 44px;
    }

    .menu-title {
        font-size: 24px;
        font-weight: 400;
    }

    .menu-text {
        gap: 24px;
        padding-top: 1.5px;
    }

    .project-spacing {
        padding-left: 48px;
        padding-top: 94px;
    }

    .home-image {
        width: 540px;
        height: auto;
        padding-block-start: 64px;
        padding-inline: 84px;
    }

    .mobile-image {
        display: none;
    }

    .mobile-and-tablet-image {
        display: none;
    }

    .desktop-for-mobile-image {
        display: block;
    }
    
    .desktop-for-mobile-and-table-image {
        display: block;
    }
}