/* reference links
https://icolorpalette.com/color/303030
https://www.craftz.dog
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

*::selection{
    color: #F0BD95;
}

html {
    font-size: 100%;
}

body {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #353535;
}

h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    font-size: 2rem;
    margin-bottom: 8px;
}

h2 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 4px;
}

h3 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    font-size: 1rem;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    margin-top: 8px;
}

div > a:hover {
        color:#A19EEB;
        transition: all 0.5s ease;
}

.wrapper-main {
    width: 1200px;
    padding: 0px 0;
    margin: 0, auto;
  }

header {
    position: sticky;
    top: 0;
  }

/* ^ standaard instellingen allemaal goed ^ */

@media only screen and (max-width: 600px) {
    .wrapper-main {
      width: 100%;
      padding-inline: 24px;
    }

    .textbox-1 {
        padding-left: 24px;
        padding-right: 24px;
    }

    .imageprofiledesktop {
        display: none;
    }

    #movement {
        margin-top: -20px;
        margin-bottom: 16px;
    }
}

@media only screen and (min-width: 601px) {
    .wrapper-main {
      width: 100%;
    }

    .imageprofilemobile {
        display: none;
    }

    .textbox-1 {
        padding-left: 48px;
        padding-right: 24px;
    }

    #movement {
        margin-top: 0px;
        margin-bottom: 16px;
    }

    .imageprofiledesktop {
        width: calc(100%);
        height: auto;
        margin-left: 24px;
        margin-right: 24px;
    }
    
    body {
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .projectcolumn {
        display: flex;
        column-count: 2;
    }    

    .column4 {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
    }
    
    .grid-item4:nth-child(1) {
        grid-column: 1;
    }

    .grid-item4:nth-child(2) {
        grid-column: 0 / 4;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    .wrapper-main {
      width: 100%;
    }

    body {
        padding-left: 8%;
        padding-right: 8%;
    }

    .imageprofiledesktop {
        width: calc(93%);
        height: auto;
        margin-left: 24px;
        margin-right: 24px;
    }
    
}

@media only screen and (min-width: 992px) {
    .wrapper-main {
      width: 100%;
    }

    body {
        padding-left: 14%;
        padding-right: 14%;
    }

    .imageprofiledesktop {
        width: calc(90%);
        height: auto;
        margin-left: 24px;
        margin-right: 24px;
    }
    
}

@media only screen and (min-width: 1200px) {
    .wrapper-main {
      width: 1200px;
    }

    body {
        padding-left: 20%;
        padding-right: 20%;
    }

    .imageprofiledesktop {
        width: calc(90%);
        height: auto;
        margin-left: 24px;
        margin-right: 24px;
    }
    
}

.imagebox {
    width: calc(100% - 48px);
    height: auto;
    margin-left: 24px;
    border-radius: 5px;
}

.textbox-2 {
    padding-left: 24px;
    padding-right: 24px;
}

.github {
    margin-top: -4px;
}

.github > a > img {
    float:left;
    margin-right: 8px;
    margin-top: -1px;
}

.projectitem {
    margin-bottom: 30px;
}

a > img:hover {
    opacity: 70%;
    transition: all 0.5s ease;
}

/* NAV + MENU */
nav {
    padding: 24px 0px 24px 24px;
    display: grid;
    grid-template-columns: 2fr 200px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #353535;
    z-index: 1;
}

nav > div > button {
    width: 42px;
    height: 42px;
    margin: 6px;
    border: none;
    border-radius: 5px;
    background-color: #F2F2F2;
    color: #353535;
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 1;
}

nav > div > button > a {
    background-color: #F2F2F2;
    color: #353535;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}

button:hover {
    border-radius: 5px;
    transform:rotate(7.5deg);
}

.menubuttons {
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.menuitems {
    position: absolute;
    width: 200px;
    height: 300px;
    margin-top: 60px;
    padding: 0 24px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    display: grid;
    justify-content: right;
  }

.menuitem_1 {
    padding: 16px 24px 10px 16px;
    border: none; 
    border-radius: 4px 4px 0px 0px;
    color: #353535;
    background-color: #F2F2F2; 
}

.menuitem_1:hover{
    color:#A19EEB;
    transition: all 0.5s ease;
}

.menuitem_2 {
    padding: 10px 24px 10px 16px;
    border: none; 
    border-radius: 0px 0px 0px 0px;
    color: #353535;
    background-color: #F2F2F2; 
}

.menuitem_2:hover{
    color:#A19EEB;
    transition: all 0.5s ease;
}

.menuitem_3 {
    padding: 10px 24px 16px 16px;
    border: none; 
    border-radius: 0px 0px 4px 4px;
    color: #353535;
    background-color: #F2F2F2; 
}

.menuitem_3:hover{
    color:#A19EEB;
    transition: all 0.5s ease;
}
