/* reference links
https://icolorpalette.com/color/303030
https://www.craftz.dog
*/

* {
    background-color: #242424;
}

*::selection{
    color: #DFFF00;
}

html {
    font-size: 100%
}

body {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    font-size: 1rem;
    color: #ffffff;
}

h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    font-size: 2rem;
}


h2 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    font-size: 1.5rem;
}

h3 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    font-size: 1rem;
}

.introductietekst {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    font-size: 1.1rem;
}

.introduction {
    background-color: #555;
    border: solid;
    margin: 30%;
    margin-block: 5%;
    border-radius: 16px;
    padding: 2%;
    text-align: center;
}

.textbox {
    padding-left: 10%;
    padding-right: 50%;
    margin: auto;
    margin-top: 100px;

}

.profile {
    width: 200px;
    height: 200px;
    float:right;
    margin-top: -150px;
    margin-right: 20%;
    border-radius: 100%;
}

.testvooroverflow {
    white-space: break-spaces;
    overflow: scroll;
    box-sizing: border-box;
    margin: 0% 10%;
}