<!DOCTYPE html>
<html lang="en" translate="no">

<head> 
    <title>Sander Hartog - Project: Starest</title>
    <meta charset="utf-8">
    <meta name="description" content="Explore Starest by Sander Hartog, a front-end development project centered on creating a mobile application for inspectors.">
    <meta name="keywords" content="Front-end, Development, TinCats, Sander, Hartog, Javascript">
    <meta name="author" content="Sander Hartog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Sander Hartog - Project: Starest"/>
    <meta property="og:description" content="Explore Starest by Sander Hartog, a front-end development project centered on creating a mobile application for inspectors.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="../icons/main/sanderhartog_featured.jpg">
    <link rel="icon" href="../icons/main/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="../icons/main/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="../icons/main/apple-touch-icon.png">
    <link rel="manifest" href="../json/manifest.webmanifest">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/mainsheet.css">
    <link rel="stylesheet" href="../css/prism.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Hahmlet:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>

<body class="wrapper-main background8">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZDBVY10W7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-VZDBVY10W7');
    </script>
    <header>
        <nav>
            <img src="../icons/main/sanderlogo_max.png" alt="logo from website sander hartog" width="124" class="sanderlogo">
            <div class="menu-buttons">
                <button class="btn-filled magnetic"><i class="material-icons" style="font-size: 1.2rem;" onclick="window.location='starest-nl.html'">language</i></button>
                <button class="btn-filled magnetic back" onclick="window.location='index.html'">Go back</button>
        </div>
        </nav>
    </header>
    <main>
        <img src="../images/starest/cover.jpg" alt="cover photo project starest, an iphone against a wall with the home screen" class="introduction-cover-img" loading="lazy"> 
        <div class="introduction-main-title">
            <img src="../images/starest/title.png" alt="cover text and logo with 'Starest'" class="introduction-img" loading="lazy">
        </div>
        <section class="introduction-section-wrapper introduction-desktop">
            <div class="introduction-text-wrapper introduction-tile-wrapper">
                <img src="../images/project/project.jpg" alt="illustration of men with a computer" height="240" loading="lazy">
                <div class="introduction-tile1">
                    <h2>Project</h2>
                    <p>Create a mobile app for reporting inspections</p>
                </div>
            </div>
            <div class="introduction-text-wrapper introduction-tile-wrapper-rev">
                <img src="../images/project/summary.jpg" alt="illustration of overworked office employee" height="240" loading="lazy">
                <div class="introduction-tile2">
                    <h2>Summary</h2>
                    <p>I developed a mobile application that allows inspectors to submit and review reports</p>
                </div>
            </div>
            <div class="introduction-text-wrapper introduction-tile-wrapper">
                <img src="../images/project/responsibilities.jpg" alt="illustration of men cleaning his glasses"  height="240" loading="lazy">
                <div class="introduction-tile1">
                    <h2>Responsibilities</h2>
                    <p>Front-End Development<br>Web Design</p> 
                </div>
            </div>
        </section>
        <section class="introduction-section-wrapper introduction-mobile">
            <div class="introduction-text-wrapper">
                <div class="introduction-tile3">
                    <h2>Project</h2>
                    <p>Create a mobile app for reporting inspections</p>
                    <br>
                    <h2>Summary</h2>
                    <p>I developed a mobile application that allows inspectors to submit and review reports</p>
                    <br>
                    <h2>Responsibilities</h2>
                    <p>Front-End Development<br>Web Design</p>
                </div>
            </div>
        </section>
        <div class="project-internal-content-wrapper project-heading">
            <h2 class="project-text-h2">Concept</h2>
            <img src="../icons/project/concept.png" alt="icon illustration doodle concept" class="project-content-img" width="48px" loading="lazy">
        </div>
        <section class="project-internal-content-wrapper project-content-wrapper">
            <p class="project-text-p2">
                This project was my final exam for my front-end development course. It required building a mobile application using a JavaScript framework, and I chose Vue.js. To enhance touch interaction, I used Vuetify, while Bootstrap provided the components, and Pinia handled state management.                
                <br>
                <br>
                The project required the following features:
            </p>
            <ul class="project-text-ul">    
                <li>Submitting reports</li>
                <li>Viewing executed reports through a custom-built API</li>
                <li>Accessing files in a dedicated knowledge base</li>
                <li>Customizing system preferences and profile settings</li>
                <li>User authentication using state management</li>
                <li>Seamless navigation via routing</li>
            </ul> 
            <br>
        </section>
        <div class="project-internal-content-wrapper project-heading">
            <h2 class="project-text-h2">Build</h2>
            <img src="../icons/project/build.png" alt="icon illustration doodle build" class="project-content-img" width="48px" loading="lazy">
        </div>
        <section class="project-internal-content-wrapper project-content-wrapper">
            <p class="project-text-p2">I developed this project through multiple iterations, continuously refining it to achieve the final product. The application is built with several asynchronously loaded components, making it a Single Page Application (SPA). This improves the user experience by eliminating page reloads, ensuring seamless navigation and faster interactions. Let me highlight some of the interesting features of the code!</p>
            <img src="../images/starest/build-screens-desktop.gif" alt="iphone screens with various images as illustration of the starest mobile application" class="project-content-imgbox project-img-desktop" loading="lazy" style="padding-block-end: 24px;">  
            <img src="../images/starest/build-screens-mobile.gif" alt="iphone screens with various images as illustration of the starest mobile application" class="project-content-imgbox project-img-mobile" loading="lazy">  
            <p  class="project-text-p2">I began by developing several foundational components and then integrated them using routing to establish logical connections, including the bottom navigation bar. Later, I added the meta functionality to ensure that users can only access pages if they are authenticated.</p>
            <div class='code-display' data-code-id="1">
                <p>Code</p>
                <p class="plus-minus">-</p>
            </div>
            <div class="code-container" data-code-id="1">
                <pre>
                    <code class="language-js">
// A section of the index.js file responsible for handling routing
import KnowledgeBase from '@/components/KnowledgeBase.vue';
import Settings from '@/components/Settings.vue';

const routes = [
    {
        path: '/login',
        name: 'login',
        component: Login
    },
    {
        path: '/',
        name: 'home',
        component: Home,
        meta: { requiresAuth: true }
    },

…
                    </code>
                </pre>
            </div>
            <p class="project-text-p2">I used a "dummy API" to simulate the handling of JSON data. The data is fetched through a method that connects to the database, retrieves the data, and renders it accordingly. Users can then click on an item to view its full contents and see detailed information. This allows inspectors to access and review executed reports.</p>
            <div class='code-display' data-code-id="2">
                <p>Code</p>
                <p class="plus-minus">-</p>
            </div>
            <div class="code-container" data-code-id="2">
                <pre>
                    <code class="language-js">
// Functionality to fetch data from the API
export default {
    name: 'ExecutedReports',
    data() {
      return {
        inspections: [],
        selectedInspection: null,
      };
    },
    methods: {
      async fetchInspections() {
        try {
          const response = await axios.get("https://my-json-server.typicode.com/svnderhvrtog/xyz/inspections");
          this.inspections = response.data;
          console.log("Fetched inspections:", this.inspections);
        } catch (error) {
            
…

// Part of the data rendering process
&lt;v-col v-for=&quot;inspection in inspections&quot; :key=&quot;inspection.id" cols=&quot;12&quot;&gt;
    &lt;v-sheet :elevation=&quot;2&quot; class=&quot;item-spacing&quot; @click=&quot;showInspectionDetails(inspection)&quot;&gt;
      &lt;v-icon size=&quot;64&quot; class=&quot;icon-spacing&quot;&gt;mdi-file-document-outline&lt;/v-icon&gt;
      &lt;div&gt;
        &lt;div&gt;
            &lt;strong&gt;ID:&lt;/strong&gt; {{ inspection.id }}
        &lt;/div&gt;
        &lt;div v-if=&quot;inspection.damageData &amp;&amp; inspection.damageData.damageLocation&quot;&gt;
            &lt;strong&gt;Location:&lt;/strong&gt; {{ inspection.damageData.damageLocation }}
        &lt;/div&gt;

…   
                    </code>
                </pre>
            </div>
        </section>
        <div class="project-internal-content-wrapper project-heading">
            <h2 class="project-text-h2">Improve</h2>
            <img src="../icons/project/improve.png" alt="icon illustration doodle improve" class="project-content-img" width="48px" loading="lazy">
        </div>
        <section class="project-internal-content-wrapper project-content-wrapper">
            <p class="project-text-p2">
                Submitting reports was a feature that broke during implementation on my live website. However, I managed to get it working properly by using a locally hosted API instead of the dummy API. The dummy API can only read and store data, but it doesn't save new submissions. In a real use case, inspectors would be able to select options like "Deferred Maintenance," fill out the form, upload photos, and more.
                <br>
                <br>
                Once the assignment was complete, I enhanced the design further, incorporated new elements of the corporate identity, and fixed some bugs. Feel free to test the mobile application yourself! I've provided the login details so you can access all the pages.</p>
            <a href="https://sanderhartog.xyz/starest/" target=”_blank”>
                <figure>
                    <img src="../images/starest/prototype-eng.jpg" alt="corporate man standing with an iphone" class="project-content-imgbox" loading="lazy">
                </figure>
            </a>
        </section>
        <div class="project-internal-content-wrapper">
            <a href="tincats.html">
                <h3 class="project-text-end">Next project</h3>
            </a>
        </div>
    </main>
    <script src="../js/button.js"></script>
    <script src="../js/prism.js"></script>
</body>
</html>