<!DOCTYPE html>
<html lang="nl" translate="no">

<head> 
    <title>Sander Hartog - Project: Starest</title>
    <meta charset="utf-8">
    <meta name="description" content="Ontdek Starest van Sander Hartog, een front-end project gericht op het creëren van een mobiele applicatie voor inspecteurs">
    <meta name="keywords" content="Front-end, Development, Starest, Sander, Hartog, Javascript">
    <meta name="author" content="Sander Hartog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Sander Hartog - Project: Starest"/>
    <meta property="og:description" content="Ontdek Starest van Sander Hartog, een front-end project gericht op het creëren van een mobiele applicatie voor inspecteurs">
    <meta property="og:type" content="website">
    <meta property="og:image" content="../icons/main/sanderhartog_featured.jpg">
    <link rel="icon" href="../icons/main/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="../icons/main/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="../icons/main/apple-touch-icon.png">
    <link rel="manifest" href="../json/manifest.webmanifest">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/mainsheet.css">
    <link rel="stylesheet" href="../css/prism.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Hahmlet:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>

<body class="wrapper-main background8">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZDBVY10W7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-VZDBVY10W7');
    </script>
    <header>
        <nav>
            <img src="../icons/main/sanderlogo_max.png" alt="logo van website sander hartog" width="124" class="sanderlogo">
            <div class="menu-buttons">
                <button class="btn-filled magnetic"><i class="material-icons" style="font-size: 1.2rem;" onclick="window.location='starest.html'">language</i></button>
                <button class="btn-filled magnetic back" onclick="window.location='nl.html'">Ga terug</button>
        </div>
        </nav>
    </header>
    <main>
        <img src="../images/starest/cover.jpg" alt="cover foto project starest, een iphone tegen de muur met het home scherm op de display" class="introduction-cover-img" loading="lazy"> 
        <div class="introduction-main-title">
            <img src="../images/starest/title.png" alt="cover tekst en logo van 'Starest'" class="introduction-img" loading="lazy">
        </div>
        <section class="introduction-section-wrapper introduction-desktop">
            <div class="introduction-text-wrapper introduction-tile-wrapper">
                <img src="../images/project/project.jpg" alt="illustratie van man met een computer" height="240" loading="lazy">
                <div class="introduction-tile1">
                    <h2>Project</h2>
                    <p>Een mobiele app voor het rapporteren van inspecties</p>
                </div>
            </div>
            <div class="introduction-text-wrapper introduction-tile-wrapper-rev">
                <img src="../images/project/summary.jpg" alt="illustratie van overwerkte kantoormedewerker" height="240" loading="lazy">
                <div class="introduction-tile2">
                    <h2>Samenvatting</h2>
                    <p>Ik heb een mobiele applicatie ontwikkeld waarmee inspecteurs rapporten kunnen indienen en beoordelen</p>
                </div>
            </div>
            <div class="introduction-text-wrapper introduction-tile-wrapper">
                <img src="../images/project/responsibilities.jpg" alt="illustratie van man die zijn bril af heeft"  height="240" loading="lazy">
                <div class="introduction-tile1">
                    <h2>Verantwoordelijkheden</h2>
                    <p>Front-End Development<br>Web Design</p> 
                </div>
            </div>
        </section>
        <section class="introduction-section-wrapper introduction-mobile">
            <div class="introduction-text-wrapper">
                <div class="introduction-tile3">
                    <h2>Project</h2>
                    <p>Een mobiele app voor het rapporteren van inspecties</p>
                    <br>
                    <h2>Samenvatting</h2>
                    <p>Ik heb een mobiele applicatie ontwikkeld waarmee inspecteurs rapporten kunnen indienen en beoordelen</p>
                    <br>
                    <h2>Verantwoordelijkheden</h2>
                    <p>Front-End Development<br>Web Design</p>
                </div>
            </div>
        </section>
        <div class="project-internal-content-wrapper project-heading">
            <h2 class="project-text-h2">Concept</h2>
            <img src="../icons/project/concept.png" alt="icoon illustratie doodle concept" class="project-content-img" width="48px" loading="lazy">
        </div>
        <section class="project-internal-content-wrapper project-content-wrapper">
            <p class="project-text-p2">
                Dit project was een afsluitend examen voor mijn front-end development cursus. Het vereiste het bouwen van een mobiele applicatie met behulp van een JavaScript framework, ik koos voor Vue.js. Om de touch-interactie te verbeteren, gebruikte ik Vuetify, terwijl Bootstrap de componenten leverde en Pinia het state management afhandelde.                <br>
                <br>
                Ik diende een aantal onderdelen te integreren, namelijk:
            </p>
            <ul class="project-text-ul">    
                <li>Rapporten indienen</li>
                <li>Uitgevoerde rapporten bekijken via een op maat gemaakte API</li>
                <li>Toegang krijgen tot bestanden in een speciale kennisbank</li>
                <li>Systeemvoorkeuren en profielinstellingen aanpassen</li>
                <li>Gebruikersauthenticatie met behulp van state management</li>
                <li>Naadloze navigatie via routing</li>
            </ul> 
            <br>
        </section>
        <div class="project-internal-content-wrapper project-heading">
            <h2 class="project-text-h2">Build</h2>
            <img src="../icons/project/build.png" alt="icoin illustatie doodle build" class="project-content-img" width="48px" loading="lazy">
        </div>
        <section class="project-internal-content-wrapper project-content-wrapper">
            <p class="project-text-p2">Ik heb dit project ontwikkeld door middel van meerdere iteraties, waarbij ik het project voortdurend heb verfijnd om tot het eindproduct te komen. De applicatie is gebouwd met verschillende asynchroon geladen componenten, waardoor het een Single Page Application (SPA) is. Dit verbetert de gebruikerservaring door het elimineren van pagina reloads, wat zorgt voor naadloze navigatie en snellere interacties. Hier een paar interessante functionaliteiten van de code!</p>
            <img src="../images/starest/build-screens-desktop.gif" alt="iphone schermen met verschillende illustraties van de werking van de mobiele applicatie starest" class="project-content-imgbox project-img-desktop" loading="lazy" style="padding-block-end: 24px;">  
            <img src="../images/starest/build-screens-mobile.gif" alt="iphone schermen met verschillende illustraties van de werking van de mobiele applicatie starest" class="project-content-imgbox project-img-mobile" loading="lazy">  
            <p  class="project-text-p2">Ik begon met het ontwikkelen van verschillende fundamentele componenten en integreerde ze vervolgens met behulp van routing om logische verbindingen tot stand te brengen, inclusief de onderste navigatiebalk. Later voegde ik de meta-functionaliteit toe om ervoor te zorgen dat gebruikers alleen toegang hebben tot pagina's als ze zijn geauthenticeerd.</p>
            <div class='code-display' data-code-id="1">
                <p>Code</p>
                <p class="plus-minus">-</p>
            </div>
            <div class="code-container" data-code-id="1">
                <pre>
                    <code class="language-js">
// Een sectie van het index.js bestand verantwoordelijk voor de routing
import KnowledgeBase from '@/components/KnowledgeBase.vue';
import Settings from '@/components/Settings.vue';

const routes = [
    {
        path: '/login',
        name: 'login',
        component: Login
    },
    {
        path: '/',
        name: 'home',
        component: Home,
        meta: { requiresAuth: true }
    },

…
                    </code>
                </pre>
            </div>
            <p class="project-text-p2">Ik heb een "dummy API" gebruikt om de verwerking van JSON-gegevens te simuleren. De gegevens worden opgehaald via een methode die verbinding maakt met de database, de gegevens ophaalt en deze overeenkomstig weergeeft. Gebruikers kunnen vervolgens op een item klikken om de volledige inhoud en gedetailleerde informatie te bekijken. Dit stelt inspecteurs in staat om uitgevoerde rapporten te openen en te controleren.</p>
            <div class='code-display' data-code-id="2">
                <p>Code</p>
                <p class="plus-minus">-</p>
            </div>
            <div class="code-container" data-code-id="2">
                <pre>
                    <code class="language-js">
// Functionaliteit om data te 'fetchen' van de API
export default {
    name: 'ExecutedReports',
    data() {
      return {
        inspections: [],
        selectedInspection: null,
      };
    },
    methods: {
      async fetchInspections() {
        try {
          const response = await axios.get("https://my-json-server.typicode.com/svnderhvrtog/xyz/inspections");
          this.inspections = response.data;
          console.log("Fetched inspections:", this.inspections);
        } catch (error) {
            
…

// Deel van het data rendering proces
&lt;v-col v-for=&quot;inspection in inspections&quot; :key=&quot;inspection.id" cols=&quot;12&quot;&gt;
    &lt;v-sheet :elevation=&quot;2&quot; class=&quot;item-spacing&quot; @click=&quot;showInspectionDetails(inspection)&quot;&gt;
      &lt;v-icon size=&quot;64&quot; class=&quot;icon-spacing&quot;&gt;mdi-file-document-outline&lt;/v-icon&gt;
      &lt;div&gt;
        &lt;div&gt;
            &lt;strong&gt;ID:&lt;/strong&gt; {{ inspection.id }}
        &lt;/div&gt;
        &lt;div v-if=&quot;inspection.damageData &amp;&amp; inspection.damageData.damageLocation&quot;&gt;
            &lt;strong&gt;Location:&lt;/strong&gt; {{ inspection.damageData.damageLocation }}
        &lt;/div&gt;

…   
                    </code>
                </pre>
            </div>
        </section>
        <div class="project-internal-content-wrapper project-heading">
            <h2 class="project-text-h2">Improve</h2>
            <img src="../icons/project/improve.png" alt="icoon illustratie doodle improve" class="project-content-img" width="48px" loading="lazy">
        </div>
        <section class="project-internal-content-wrapper project-content-wrapper">
            <p class="project-text-p2">
                Rapporten indienen was een functie die kapot ging tijdens de implementatie op mijn live website. Ik heb het echter goed werkend gekregen door een lokaal gehoste API te gebruiken in plaats van de dummy API. De dummy API kan alleen gegevens lezen en opslaan, maar slaat geen nieuwe inzendingen op. In een echt gebruiksvoorbeeld zouden inspecteurs opties kunnen selecteren zoals "Deferred Maintenance", het formulier kunnen invullen, foto's kunnen uploaden en meer.                <br>
                <br>
                Nadat de opdracht was afgerond, heb ik het ontwerp verder verbeterd, nieuwe elementen van de huisstijl verwerkt en een aantal bugs opgelost. Voel je vrij om de mobiele applicatie zelf te testen! Ik heb de inloggegevens erbij gezet, zodat je toegang hebt tot alle pagina's.</p>            
                <a href="https://sanderhartog.xyz/starest/" target=”_blank”>
                <figure>
                    <img src="../images/starest/prototype-nl.jpg" alt="corporate man die staat met een iphone in z'n hand" class="project-content-imgbox" loading="lazy">
                </figure>
            </a>
        </section>
        <div class="project-internal-content-wrapper">
            <a href="tincats-nl.html">
                <h3 class="project-text-end">Volgend project</h3>
            </a>
        </div>
    </main>
    <script src="../js/button.js"></script>
    <script src="../js/prism.js"></script>
</body>
</html>